@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');
body{
  margin: 0;
  padding: 0%;
  background-color: white;
}
.App
{
  border: solid 1px lightslategray;
  margin-top: 0;
  width: 90vw;
  text-align: center;
  background-color:lightslategray;
  min-height:100vh;
  margin: auto;
}
.todo-task{
  width: 50%;
}
.todoform{
  padding: 2rem;
}
.todoform input{
  height: 4.5vh;
}
.btn
{
  height: 5vh;
  margin-left: 2px;
}

.todo-row{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  height:7vh;
  background-color:yellow ;
  align-items: center;
  text-align: center;
  transition: 350ms;
  margin-top: 3px;

}
.todo-task
{
  padding-left: 2rem;
}
.icons{
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.completed{
  text-decoration-line:line-through;
  opacity: 0.7;
  background-color: rgb(175, 116, 92);
  transition: 350ms;
}

@media screen and (min-width:720px) {
  .App{
    width: 70%;
    margin: auto;
    background-color: #112c4d;
    border-radius: 5%;
  }
  body{
    background-color:#0d1a2d;
  }
  h1
  {
    color: #00afef;
  }
  .todoform input{
    width: 60%;
  }
  .btn
  {
    width: 20%;
    height: 5.2vh;
  }
}

@media screen and (min-width:860px)
{
  .App{
    width: 50%;
    margin: auto;
    background-color: #112c4d;
    border-radius: 5%;
  }
}